@use "config/reset";
@use "config/colors";

body {
  background-color: colors.$corBG;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.introducao {
  max-width: 1200px;
  padding: 20px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 100px;
  align-items: center;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}


.introducao p {
  font-size: 1.5rem;
  color: #525252;
}


header {
  background-color: colors.$corPrincipal;
  position: sticky;
  top: 0;
  left: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.menu {
  display: flex;
}

.menu li {
  font-weight: bold;
  margin-left: 24px;
}

.menu li a {
  color: colors.$corSecundaria;
  text-decoration: none;
}

section {
  padding: 56px 0;
}

.products {
  margin-top: 20px;
  display: grid;
  padding: 20px 20px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 25%);
  column-gap: 1%;
  row-gap: 5%;
  width: 100%;

  p {
    font-size: 18px;
  }

  h4 {
    font-size: 24px;
  }
}

.product-item img {
  width: 100%;
  border-radius: 16px;
}

.product-button {
  display: block;
  background-color: colors.$corBotao;
  color: colors.$corSecundaria;
  text-align: center;
  padding: 16px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
    background-color: lighten(colors.$corPrincipal, 30%);
  }
}

@media screen and (max-width: 1000px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media screen and (max-width: 800px) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: 32px;
  }
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao { 
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao {
    grid-template-columns: 1fr;
  }

  .introducao img {
    display: none;
  }
}

